In [1]:
import pandas as pd
import numpy as np

# Question 1

In [2]:
np.__version__

'1.21.1'

# Question 2

In [3]:
pd.__version__

'1.2.4'

In [4]:
df = pd.read_csv('../car_price_linear_regression/car_price.csv')

In [5]:
df.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [6]:
df.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
McLaren             5
Alfa Romeo          5
Bugatti             3
Spyker              3
Genesis             3
Name: Make, dtype: int64

# Question 3

In [12]:
df[df.Make == 'BMW']['MSRP'].mean()

61546.76347305389

# Question 4

In [16]:
df[df.Year >= 2015]['Engine HP'].isnull().sum()

51

# Question 5

In [17]:
df['Engine HP'].mean()

249.38607007176023

In [33]:
average_power = df['Engine HP'].mean()
df['Engine HP'] = df['Engine HP'].fillna(average_power)

In [36]:
new_average_power = df['Engine HP'].mean()

In [41]:
f"before: {round(average_power, 3)}; after: {round(new_average_power, 3)}"
# they're roughly the same

'before: 249.386; after: 249.386'

# Question 6

In [49]:
rolls_royce = df[df.Make == 'Rolls-Royce']
rolls_royce = rolls_royce[['Engine HP', 'Engine Cylinders', 'highway MPG']].drop_duplicates()

In [50]:
rolls_royce

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [53]:
X = rolls_royce.values
X

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [62]:
def matrix_operations(X):
    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    return np.sum(XTX_inv)

matrix_operations(X)

0.032212320677486125

# Question 7

In [59]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]

In [61]:
def linear_regression(X, y):
    # transposed X * X
    XTX = X.T.dot(X)
    # inversion
    XTX_inv = np.linalg.inv(XTX)
    # inversed * transposed X
    w = XTX_inv.dot(X.T).dot(y)
    return w

linear_regression(X, y)

array([ 0.19989598, 31.02612262, 31.65378877])